/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #ffffff;
  height: 67px;
  width: 100%;
  position: fixed;
  z-index: 999;
  border-bottom: solid 1px #000000;
}

section {
  background-color: red;
  height: 300px;
  width: 100%;
  border: solid 1px black;
}

footer {
  background-color: #000000;
  width: 100%;
  padding: 100px 0 60px 0;
}

/* Regole per centratura con larghezza del 75% */
.container {
  background-color: green;
  height: 200px;
  width: 75%;
  margin: 0 auto;
}

/* Regole per centratura con larghezza del 60% */
.box {
  width: 60%;
  margin: 0 auto;
}

/* Regole della riga per il posizionamento del float */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Regole delle colonne */
.col {
  float: left;
  width: 48%;
  height: 100px;
  border: solid 1px black;
}
.row .col:first-child {
  margin-right: 4%;
}
.coldx {
  float: right;
  width: 48%;
  height: 100px;
  border: solid 1px black;
}
.colfour {
  float: left;
  width: 25%;
}

/* --------------------------------------------------------------------------------------------------------- */

/* REGOLE SPECIFICHE */

/* Regole dell'Header -----------------------*/

/* Barra di navigazione */
nav ul {
  list-style: none;
}
nav li{
  display: inline-block;
  padding: 0 10px 2px 2px;
}
nav a {
  text-decoration: none;
  color: #000000;
  font-size: 0.55em;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
/* Centratura del logo e del menu */
.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
/* Line che divide il Menu delle lingue */
.lang-divider {
  border-right: 1px solid #ccc;
  padding-left: 5px;
}

/* Regole del Footer -----------------------*/
.colfour ul {
  list-style: none;
}
.colfour li{
  display: block;
  padding-bottom: 10px;
}
.link-bar a {
  text-decoration: none;
  color: #696969;
  font-size: .8em;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.link-bar ul li:first-child {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.footer-social {
  color: #ffffff;
  font-size: .7em;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 100px 0 50px 0;
}
.social-bar {
  margin: 35px 0;
}
.social-bar a {
  text-decoration: none;
  color: #ffffff;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 0.5px;
}
footer hr {
  border: .5px solid #696969;
  width: 100%;
}
.icon-social {
  height: 20px;
  width: 20px;
  margin-right: 28px;
}
.badge {
  margin-top: 30px;
  text-align: center;
}
